<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="content">
    <div id="circle"></div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="underscore.js"></script>
  <script type="text/template" id="ip-value">
    <%= localIp %>
  </script>
  <script src="client.js"></script>
</body>
</html>
